<!-- <div class="container mt-4">
    <h2>Add Stock</h2>
    <form (submit)="addStock()" class="row g-3">
      <div class="col-md-6">
        <input
          type="text"
          class="form-control"
          placeholder="Stock Name"
          [(ngModel)]="stock.stockName"
          name="stockName"
          required
        />
      </div>
      <div class="col-md-6">
        <input
          type="text"
          class="form-control"
          placeholder="Ticker"
          [(ngModel)]="stock.ticker"
          name="ticker"
          required
        />
      </div>
      <div class="col-md-6">
        <input
          type="number"
          class="form-control"
          placeholder="Quantity"
          [(ngModel)]="stock.quantity"
          name="quantity"
          required
        />
      </div>
      <div class="col-md-6">
        <input
          type="number"
          class="form-control"
          placeholder="Buy Price"
          [(ngModel)]="stock.buyPrice"
          name="buyPrice"
          required
        />
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Add Stock</button>
      </div>
    </form>
  </div>
   -->