<div class="container mt-4">
    <h2>Add Stock</h2>
    <form (submit)="addStock()" class="form-inline">
      <input
        type="text"
        placeholder="Stock Name"
        [(ngModel)]="stock.stockName"
        name="stockName"
        class="form-control mr-2"
        required
      />
      <input
        type="text"
        placeholder="Ticker"
        [(ngModel)]="stock.ticker"
        name="ticker"
        class="form-control mr-2"
        required
      />
      <input
        type="number"
        placeholder="Quantity"
        [(ngModel)]="stock.quantity"
        name="quantity"
        class="form-control mr-2"
        required
      />
      <input
        type="number"
        placeholder="Buy Price"
        [(ngModel)]="stock.buyPrice"
        name="buyPrice"
        class="form-control mr-2"
        required
      />
      <button class="btn btn-primary">Add Stock</button>
    </form>
  </div>
  